.btn {
  color:#35a;
  cursor:pointer;
  display:block;
  font-size:20px;
  text-align:center;
  padding:1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  width: 10em;
}
.btn-slide {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-slide:after {
  content: "";
  position: absolute;  
  height: 3.5em;
  width: 20em;
  top: 0px;  
  right: -25em;
  opacity: 0.5;
  transform: skew(-45deg);
  transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
  background: #5de;
  z-index: -10;
}
.btn-slide:hover:after {
  right: 130%;
  transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
}
